body {
    background: url(../img/Incendios.jpg);
    font-family: 'Montserrat', sans-serif;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

header {
    color: aliceblue;
    padding: 0;
    margin: 1rem;
}

header nav ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

.neon {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    margin: 0.5rem 2rem;
    border-radius: 25px;
    color: #fff;
    letter-spacing: 4px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.3s;
    text-align: center;
}

.neon:hover {
    background-color: rgb(239, 88, 0);
    box-shadow: 0 0 10px rgb(239, 88, 0), 0 0 40px rgb(239, 88, 0), 0 0 75px rgb(239, 88, 0);
}

.contenedor {
    color: #fff;
    width: 1390px;
    height: 5900px;
    max-width: 100%;
    margin: 2rem;
    position: relative;
}



/* Las instruicciones anteriores en CSS son el estandar de la pagina web. */

h5 {
    text-align: justify;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin: 70px;
}

.ficha_tecnica {
    color: black;
    background-color: #fff;
    padding: 10px;
    position: absolute;
    width: 850px;
    height: 300px;
    left: 95px;
    border-radius: 10px;
}

h3 {
    text-align: center;
}

.evid_1 {
    background: url(../img/evi1.png);
    background-size: cover;
    border-radius: 100%;
    width: 175px;
    height: 175px;
    position: absolute;
    right: 40px;
    top: 220px;
}

.evid_2 {
    background: url(../img/evi2.png);
    background-size: cover;
    border-radius: 100%;
    width: 175px;
    height: 175px;
    position: absolute;
    right: 235px;
    top: 125px;
}

.ficha_tecnica2 {
    background-color: #fff;
    color: black;
    position: absolute;
    padding: 10px;
    width: 850px;
    height: 300px;
    right: 75px;
    border-radius: 10px;
    top: 500px;
}

.evid_3 {
    background: url(../img/evi3.png);
    background-size: cover;
    border-radius: 100%;
    width: 175px;
    height: 175px;
    position: absolute;
    left: 80px;
    top: 475px;
}

.evid_4 {
    background: url(../img/evi4.png);
    background-size: cover;
    border-radius: 100%;
    width: 175px;
    height: 175px;
    position: absolute;
    left: 255px;
    top: 575px;
}

.ficha_tecnica4 {
    background-color: #fff;
    color: black;
    position: absolute;
    padding: 10px;
    width: 850px;
    height: 300px;
    right: 75px;
    border-radius: 10px;
    top: 1200px;
}

.evid_7 {
    background: url(../img/evi7.png);
    background-size: cover;
    border-radius: 100%;
    width: 175px;
    height: 175px;
    position: absolute;
    left: 80px;
    top: 1250px;
}

.evid_8 {
    background: url(../img/evi8.png);
    background-size: cover;
    border-radius: 100%;
    width: 175px;
    height: 175px;
    position: absolute;
    left: 255px;
    top: 1325px;
}

.ficha_tecnica3 {
    color: black;
    background-color: #fff;
    padding: 10px;
    position: absolute;
    width: 850px;
    height: 300px;
    left: 95px;
    border-radius: 10px;
    top: 850px;
}

.evid_5 {
    background: url(../img/evi5.png);
    background-size: cover;
    border-radius: 100%;
    width: 175px;
    height: 175px;
    position: absolute;
    right: 60px;
    top: 850px;
}

.evid_6 {
    background: url(../img/evi6.png);
    background-size: cover;
    border-radius: 100%;
    width: 175px;
    height: 175px;
    position: absolute;
    right: 235px;
    top: 950px;
}

.ficha_tecnica5 {
    background-color: #fff;
    color: black;
    position: absolute;
    padding: 10px;
    width: 850px;
    height: 300px;
    right: 75px;
    border-radius: 10px;
    top: 1550px;
}


.evid_D {
    background: url(../img/evid_D.jpg);
    background-size: contain;
    border-radius: 100%;
    width: 300px;
    height: 300px;
    position: absolute;
    left: 135px;
    top: 1550px;
}

.ficha_tecnica6 {
    color: black;
    background-color: #fff;
    padding: 10px;
    position: absolute;
    width: 850px;
    height: 300px;
    left: 95px;
    border-radius: 10px;
    top: 1900px;
}

.evid_9 {
    background: url(../img/evi9.png);
    background-size: cover;
    border-radius: 100%;
    width: 175px;
    height: 175px;
    position: absolute;
    right: 235px;
    top: 1900px;
}

.evid_10 {
    background: url(../img/evi_10.png);
    background-size: cover;
    border-radius: 100%;
    width: 175px;
    height: 175px;
    position: absolute;
    right: 100px;
    top: 2050px;
}


.ficha_tecnica7 {
    background-color: #fff;
    color: black;
    position: absolute;
    padding: 10px;
    width: 850px;
    height: 300px;
    right: 75px;
    border-radius: 10px;
    top: 2250px;
}

.evid_11 {
    background: url(../img/evid_11.png);
    background-size: cover;
    border-radius: 100%;
    width: 175px;
    height: 175px;
    position: absolute;
    left: 255px;
    top: 2325px;
}


.ficha_tecnica8 {
    color: black;
    background-color: #fff;
    padding: 10px;
    position: absolute;
    width: 850px;
    height: 300px;
    left: 95px;
    border-radius: 10px;
    top: 2600px;
}

.evid_13 {
    background: url(../img/evid_13.png);
    background-size: cover;
    border-radius: 100%;
    width: 175px;
    height: 175px;
    position: absolute;
    right: 200px;
    top: 2620px;
}

.ficha_tecnica9 {
    background-color: #fff;
    color: black;
    position: absolute;
    padding: 10px;
    width: 850px;
    height: 300px;
    right: 75px;
    border-radius: 10px;
    top: 2950px;
}

.evid_12 {
    background: url(../img/evid_14.png);
    background-size: cover;
    border-radius: 100%;
    width: 175px;
    height: 175px;
    position: absolute;
    left: 255px;
    top: 3000px;
}


.ficha_tecnica10 {
    color: black;
    background-color: #fff;
    padding: 10px;
    position: absolute;
    width: 850px;
    height: 300px;
    left: 95px;
    border-radius: 10px;
    top: 3300px;
}

.ficha_tecnica11 {
    background-color: #fff;
    color: black;
    position: absolute;
    padding: 10px;
    width: 850px;
    height: 300px;
    right: 75px;
    border-radius: 10px;
    top: 3650px;
}

.evid_15 {
    background: url(../img/evidencia.png);
    background-size: cover;
    border-radius: 100%;
    width: 175px;
    height: 175px;
    position: absolute;
    right: 200px;
    top: 4050px;
}

.ficha_tecnica12 {
    color: black;
    background-color: #fff;
    padding: 10px;
    position: absolute;
    width: 850px;
    height: 300px;
    left: 95px;
    border-radius: 10px;
    top: 4015px;
}

.evid_14 {
    background: url(../img/evidencia_2.png);
    background-size: cover;
    border-radius: 100%;
    width: 175px;
    height: 175px;
    position: absolute;
    left: 255px;
    top: 3670px;
}

.ficha_tecnica13 {
    background-color: #fff;
    color: black;
    position: absolute;
    padding: 10px;
    width: 850px;
    height: 300px;
    right: 75px;
    border-radius: 10px;
    top: 4365px;
}


.ficha_tecnica14 {
    color: black;
    background-color: #fff;
    padding: 10px;
    position: absolute;
    width: 850px;
    height: 300px;
    left: 95px;
    border-radius: 10px;
    top: 4715px;
}

.ficha_tecnica15 {
    background-color: #fff;
    color: black;
    position: absolute;
    padding: 10px;
    width: 850px;
    height: 300px;
    right: 75px;
    border-radius: 10px;
    top: 5100px;
}

.reseña {
    background-color: #fff;
    color: black;
    position: absolute;
    padding: 10px;
    width: 850px;
    height: 310px;
    right: 200px;
    border-radius: 10px;
    top: 5500px;
}













footer {
    color: #fff;
    background-color: rgb(5, 44, 50);
    opacity: 0.5;
    letter-spacing: 3px;
    margin: 0;
    padding: 1rem 2rem;
    text-align: center;
    width: 100%;
}


@media screen and (max-width: 1280px) {
    #subtitulo {
        font-size: 50px;
        text-align: center;
        left: 250px;
        top: 0px;
    }

    header nav ul li {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: center;
        font-size: 30px;
    }

    .contenedor {
        height: 1350px;
    }

}